
<h1>Please enter your email address to reset your password</h1>


<form action="/passwordreset" method="POST">
    <input type="email" name="email" value="" placeholder="Enter your email address..." />
    <input type="submit" value="Reset Password" />
</form>


<p>Need an account? <a href="/signup">Signup</a></p>

<p>Or login <a href="/login">here</a></p>


