<!DOCTYPE html>
<html>
<head>
    <title>Critically-Entangled Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <style>
        body        {padding-top: 80px;} 
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">                                   
        <h1>Critically-Entangled</h1>
            <div class="Alpha">
                <h1>Alpha</h1>
            </div>       
        <img src="./images/Logo.png"/>
        
            <div class="login-p">
                <p>Login or Signup with:</p>
            </div>  
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>
            
</div>           
</body>
</html>