@font-face {
    font-family: 'space age';
    src: url();
    src: url('/public/assets/Fonts/space-age/space\ age.otf');
    src: url('/public/assets/Fonts/space-age/space\ age.ttf');
}

.jumbotron {
    background-image: linear-gradient(#977528, #ffa31a);
}

body{
    
} 

.jumbotron h1 {
    font-family: 'space age',Arial, Helvetica, sans-serif ;
    color: white;
}

.Alpha {
    font-family: 'space age', Arial, Helvetica, sans-serif;
}

.login-p {
    color: white;
}